body {
  background: #fcfcfc;
  font-size: 16px;
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  line-height: 2;
}

a {
  color: #9e9e9e;
  text-decoration: none;
}

a:hover {
  color: red;
}

small{
  font-size: 9px;
  color: #c1c1c1;
}

/* Layout
------------------------------------------*/

header,
.container,
footer {
  margin: 0 auto;
  width: 88%;
  max-width: 1080px;
  text-align: center;
}

.wrapper {
  padding: 1em 0;
  background: #fcfcfc;
}

.header-logo {
  transform: scale(.7);
  margin: 0 auto;
  margin-top: 5em;
}

.container {
  height: 55vh;
}

/* Search
------------------------------------------*/
.search-tab{
  margin: 0 auto;
  margin-left: 1.2em;
}

#mySearch {
  border: .5px solid #c1c1c1;
  font-size: 16px;
}

.search-button{
  margin-top: .3em;
  vertical-align: middle;
}


/* Menu
------------------------------------------*/
.menu-nav{
  margin-top: 10em;
}

.menu-nav ul{
  width: 75%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  display: flex;
}

.menu-nav li {
  margin: 0 auto;
}

.menu-nav a{
  width: 72px;
  height: 72px;
  display: block;
  transition: .2s;
  /* hide text */
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}

.explore,
.location,
.forum {
  background-image: url(images/sprites.png);
}

.explore{
	background-position: -1px 0;
}

.location{
	background-position: -72px 0;
}

.forum{
	background-position: -144px 0;
}

.menu-toggle {
  margin-top: -7em;
  display: block;
  align-items: center;
  transform: scale(.25);
  margin-bottom: 0;
}

.hide-menu {
  max-height: 0;
  visibility: hidden;
}


/* Explore
------------------------------------------*/
#explore body{
  background: #c70039;
  font-size: 16px;
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  line-height: 2;
}

#explore header,
#explore .container,
#explore footer {
  margin: 0 auto;
  width: 88%;
  max-width: 1080px;
  text-align: center;
}

#explore .wrapper {
  padding: 1em 0;
  background: #c70039;
  height: 85vh;
}

#explore .menu-nav{
  margin-top: 21em;
}


/* Location
------------------------------------------*/
#location body{
  background: #a80f80;
  font-size: 16px;
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  line-height: 2;
}

#location header,
#location .container,
#location footer {
  margin: 0 auto;
  width: 88%;
  max-width: 1080px;
  text-align: center;
}

#location .wrapper {
  padding: 1em 0;
  background: #a80f80;
  height: 85vh;
}

#location .menu-nav{
  margin-top: 21em;
}


/* Forum
------------------------------------------*/
#forum body{
  background: #d3830f;
  font-size: 16px;
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  line-height: 2;
}

#forum header,
#forum .container,
#forum footer {
  margin: 0 auto;
  width: 88%;
  max-width: 1080px;
  text-align: center;
}

#forum .wrapper {
  padding: 1em 0;
  background: #d3830f;
  height: 85vh;
}

#forum .menu-nav{
  margin-top: 21em;
}
